
<html>
<head>
  <title>Update Info for <%= slave.slave_id %></title>
<% include partials/head %>
</head>
<body>

<% include partials/header %>

<div class="mainbox">
  <h1 class="mainpage" style="padding: 20px">The BDSM Slave Register</h1>
  <h2>Enter information for <%= slave.slave_id %></h2>
  <p><%= slave.message %></p>
  <p>You can use this form to enter slave information for your registration number.</p>
  <table style="margin: 0 auto">
    <form method="post" action="/<%= slave.slave_id %>/slaveupdate">
      <tr class="grayrow">
        <td colspan="2"></td>
        <td>
          <input type="hidden" name="slave_id" value="<%= slave.slave_id %>">
        </td>
      </tr>
      <tr class="grayrow">
        <td colspan="2"></td>
        <td>
          <input type="hidden" name="fullregdate" value="<%= slave.fullregdate %>">
        </td>
      </tr>
      <tr class="grayrow">
        <td colspan="2">Registration Date:</td>
        <td colspan="3" style="text-align: center; "><%= slave.regdate %>
          <input type="hidden" name="regdate" value="<%= slave.regdate %>">
        </td>
      </tr>
      <tr class="grayrow">
        <td colspan="2">Email address:</td>
        <td>
          <input type="text" name="email" value="<%= slave.email %>">
        </td>
      </tr>
      <tr class="grayrow">
        <td colspan="2">Currently known as:</td>
        <td>
          <input type="text" name="knownas" size="20" maxlength="20" value="<%= slave.knownas %>">
        </td>
      </tr>
      <tr class="grayrow">
        <td colspan="2">Status:</td>
        <td>
          <select id="ownertype" name="ownertype">
          <% ownertypes.forEach(function(type) { %>
              <option value="<%= type.value %>" <%= (type.value === '10' && slave.ownertype === undefined) ? "selected" : (type.value === slave.ownertype) ? "selected" : "" %>><%= type.text %></option>
          <% }); %>
        </select>
        </td>
      </tr>
      <tr class="grayrow">
        <td colspan="3">If in service, owned etc:</td>
      </tr>
      <tr class="grayrow">
        <td>&nbsp;</td>
        <td>Owner/dominant's name:</td>
        <td>
          <input type="text" size="20" maxlength="20" name="ownername" value="<%= slave.ownername %>"></td>
      </tr>
      <tr class="grayrow">
        <td>&nbsp;</td>
        <td>In service since:</td>
        <td>
          <input type="text" size="2" maxlength="2" name="ownedday" value="<%= slave.ownedday %>">
          <select id="ownedmonth" name="ownedmonth">
          <% ownedmonths.forEach(function(type) { %>
              <option value="<%= type.value %>" <%= (type.value === '50' && slave.ownedmonth === undefined) ? "selected" : (type.value === slave.ownedmonth) ? "selected" : "" %>><%= type.text %></option>
          <% }); %>
        </select>
          <input type="text" size="4" maxlength="4" name="ownedyear" value="<%= slave.ownedyear %>">
        </td>
      </tr>
      <tr class="grayrow">
        <td>&nbsp;</td>
        <td>Type of that service:</td>
        <td>
          <select id="owneddatetype" name="owneddatetype">
          <% owneddatetypes.forEach(function(type) { %>
              <option value="<%= type.value %>" <%= (type.value === '63' && slave.owneddatetype === undefined) ? "selected" : (type.value === slave.owneddatetype) ? "selected" : "" %>><%= type.text %></option>
          <% }); %>
        </td>
      </tr>
      <tr class="grayrow">
        <td colspan="3" style="text-align: center; ">
          <input type="submit" value="Submit">
        </td>
      </tr>
    </form>
  </table>
  <% include partials/footer %>
</div>
</body>
</html>
